body {
    padding-bottom: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(http://prod-upp-image-read.ft.com/4e46bdc6-951e-11e6-a1dc-bdf38d484582);
    background-repeat: no-repeat;
}

h1 {
    color: #ffffff;
    font-family: 'Raleway',sans-serif;
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px white, 0 0 1em black;
}

.footeri {
    color: white;
}

.backgroundColor {
    padding: 30px;
    margin-bottom: 30px;
    
    color: inherit;
    background-color: #eeeeee;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}