@{
    ViewBag.Title = "Contact";
}
<div class="backgroundColor">

    <h2>Yhteystiedot</h2>

    <address>
        Tankkaukset Oy<br />
        Elimäenkatu 5a, 00510 Helsinki<br />
        <abbr title="Phone">Puh:</abbr>
        045 334 4524
    </address>

    <address>
        <strong>Asiakaspalvelu: </strong><a href="mailto:info@tankkaukset.fi">Info@tankkaukset.fi</a>
    </address>
</div>
@{
    Html.RenderPartial("_LoginModal");
}
