@{
    ViewBag.Title = "Contact";
}
<div class="backgroundColor">

    <h2>Yhteystiedot</h2>

    <address>
        Tankkaukset Oy<br />
        Elimäenkatu 5a, 00510 Helsinki<br />
        <abbr title="Phone">Puh:</abbr>
        045 334 4524
    </address>

    <address>
        <strong>Asiakaspalvelu: </strong><a href="mailto:info@tankkaukset.fi">Info@tankkaukset.fi</a>
    </address>
    <br />
    <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1667.6724086688193!2d24.94996264671513!3d60.193842333032876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4692098375484fb5%3A0x7528f69a72f00f19!2sElim%C3%A4enkatu%205%2C%2000510%20Helsinki!5e0!3m2!1sfi!2sfi!4v1663324883084!5m2!1sfi!2sfi"
                width="1050" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
@{
    Html.RenderPartial("_LoginModal");
}
