@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Auton keskikulutus</h1>
    <p>Ajetut kilometrit (km):<input id="distance" type="number" min="0" max="1000000" onchange="computeConsumption()"></p>
    <p>Litrat (L):<input id="fuel" type="number" min="0" max="10000000" step="1" onchange="computeConsumption()"></p>
    <p>Polttoaineen hinta (€) <input id="costper" type="number" min="1.49" max="10" step="0.01" value="2.32" onchange="computeConsumption()"></p>
    <h2 id="consumption"></h2>

    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

@{
    Html.RenderPartial("_LoginModal");
}

@section scripts {
    <script type="text/javascript">
        function computeConsumption() {
            var distance = document.getElementById('distance').value;
            var fuel = document.getElementById('fuel').value;
            var costper = document.getElementById('costper').value;
            var consumed = (fuel / (distance / 100)).toFixed(2);
            var costper100 = (consumed * costper).toFixed(2);
            document.getElementById('consumption').innerHTML = "Keskikulutus on " + consumed + " Litraa/100km ( € " + costper100 + " / 100km ) <br><br>Polttoaineen hinta = € " + (fuel * costper).toFixed(2);
        }
    </script>
}