@{
    ViewBag.Title = "Home Page";
}

<style>

    /* Create three equal columns that floats next to each other */
    .column {
        width: 32.33%;
        padding: 10px;
        border-radius: 6px;
        padding-left: 2%;
    }

    .row{
        margin-left:3%;
        margin-right:3%;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    @@media screen and (max-width: 600px) {
        .column {
            width: 100%;
            margin-bottom: 1em;
        }
    }

    @@media screen and (max-width: 620px) {
        h1 {
            font-size: 250%;
        }
    }
</style>

<h1>Auton keskikulutus</h1>

<div class="jumbotron">
    <div class="form-horizontal">
        <p class="form-group">Ajetut kilometrit (km):<input id="distance" type="number" min="0" max="1000000" onchange="computeConsumption()"></p>
        <p class="form-group">Litrat (L):<input id="fuel" type="number" min="0" max="10000000" step="1" onchange="computeConsumption()"></p>
        <p class="form-group">Polttoaineen hinta (€) <input id="costper" type="number" min="1.49" max="10" step="0.01" value="2.32" onchange="computeConsumption()"></p>
        <h3 id="consumption"></h3>
    </div>
</div>

<div class="row">
    <div class="column" style="background-color: #eeeeee; margin-left:1%;">
        <h2>Polttoaine.net</h2>
        <p>Polttoaine.net on riippumaton polttoaineiden hintaseurantasivusto, joka auttaa autoilijoita löytämään edullisimman bensiini ja diesel -jakeluaseman.</p>
        <p><a class="btn btn-success" href="https://www.polttoaine.net/" target="_blank">Tästä sivulle &raquo;</a></p>
    </div>
    <div class="column" style="background-color: #eeeeee; margin-left: 2px;">
        <h2>Tankille.fi</h2>
        <p>Halvimmat polttoaineen hinnat viimeisen 24 tunnin aikana.</p>
        <p><a class="btn btn-success" href="https://www.tankille.fi/suomi/" target="_blank">Tästä sivulle &raquo;</a></p>
    </div>
    <div class="column" style="background-color: #eeeeee; margin-left: 2px;">
        <h2>YLE Uutiset</h2>
        <p>Polttoaineen hintoihin liittyviä uutisartikkeleita.</p>
        <p><a class="btn btn-success" href="https://yle.fi/uutiset/18-44017" target="_blank">Tästä sivulle &raquo;</a></p>
    </div>
    <br />
</div>

    @{
        Html.RenderPartial("_LoginModal");
    }

    @section scripts {
        <script type="text/javascript">
            function computeConsumption() {
                var distance = document.getElementById('distance').value;
                var fuel = document.getElementById('fuel').value;
                var costper = document.getElementById('costper').value;
                var consumed = (fuel / (distance / 100)).toFixed(2);
                var costper100 = (consumed * costper).toFixed(2);
                document.getElementById('consumption').innerHTML = "Keskikulutus on " + consumed + " Litraa/100km ( € " + costper100 + " / 100km ) <br><br>Polttoaineen hinta = € " + (fuel * costper).toFixed(2);
            }
        </script>
    }
