<div class="margin">
    @{
        ViewBag.Title = "ReDirect";
    }
    <div class="backgroundColor">

        <h2>Kirjaudu sisään</h2>

        <br />
        <h4 style="color:red">Varmista että antamasi käyttäjätunnus ja salasana ovat oikeat!</h4>
        <br />
        @*Button to Open the Modal*@
        <p>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                Kirjaudu sisään
            </button>
        </p>

        @{
            Html.RenderPartial("_LoginModal");
        }

    </div>
    </div>